/* CURRENTLY IN: styles/main.css */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */	
}

.cf:
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}

html {
	font-family: Arial, 'sans-serif';
	font-size: 14px;
}

/*********  Common CSS Properties *********/

.kitt__controls-glowBlue {
	box-shadow: 0px 0px 20px #0000e5;
}

.kitt__controls-GlowFirstSet {
	box-shadow: 0 0 20px #ffff00;
}

.kitt__controls-glow {
	box-shadow: 0 0 20px #FF0000;
}

.kitt__controls-border {
	border: 3px solid #000;
}

.kitt__controls-box {
	border-radius: 40%/50%;
}

.kitt__controls-mid {
	border-radius: 4%;
}

/*********   Kitt Head  *********/

.kitt {
	width: 55%;
	height: 550px;
	margin: 0 auto;
	background-color: #000;
}

.kitt__head {
	width: 100%;
	height: 80px;
}

.kitt-title-border {
	border-bottom: 5px outset rgba(204,204,204,0.9);
}

.kitt__head-title-color {
	font-size: 3rem;
	color: #fff;
	text-align: center;
	padding: 1.5rem 0;
}

/*********   Kitt Body  *********/

.kitt__body {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.kitt__body-right {
	width: 20%;
	height: 100%;
	float: left;
}

.kitt__body-mid {
	width: 60%;
	height: 100%;
	float: left;
}

.kitt__body-left {
	width: 20%;
	height: 100%;
	float: left;
}

.kitt__body-shadow {
	box-shadow: 0 0 20px #ccc;	
}

/*********   Kitt Controls  *********/

.kitt__controls {
	padding: 2rem 0;
}

.kitt__controls-first {
	width: 70%;
	height: 65px;
	background-color: #ffff00;
	text-align: center;
	padding: 1.8rem 0;
	margin: 0 auto;
}

.kitt__controls-second {
	width: 70%;
	height: 65px;
	background-color: #ffff00;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}

.kitt__controls-third {
	width: 70%;
	height: 65px;
	background-color: #FF0000;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}	

.kitt__controls-fourth {
	width: 70%;
	height: 65px;
	background-color: #FF0000;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}

.kitt__controls-fifth {
	width: 70%;
	height: 65px;
	background-color: #FF0000;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}

.kitt__controls-sixth {
	width: 70%;
	height: 65px;
	background-color: #FF0000;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;	
}


/*********   Kitt Middle Body Section  *********/

.kitt-content{
	font-size: 2.7rem;
}

.kitt-content-center {
	margin: 0.8rem auto;
	text-align: center;
}

/*********   Kitt Middle Upper Body Animation  *********/

.kitt__body-mid__UpperSection {
	width: 60%;
	height: 50%;
/*	background-color: white;*/
	margin: 1% auto;
}

.kitt__light-one, 
.kitt__light-two, 
.kitt__light-three, 
.kitt__light-four, 
.kitt__light-five,
.kitt__light-six,
.kitt__light-seven,
.kitt__light-eigth,
.kitt__light-nine,
.kitt__light-ten {
	width: 45%;
	height: 10%;
	margin: 0 auto;
	box-shadow: 0 0 30px #FF0000 inset;
	/*box-shadow: 0 0 30px #FF0000 inset 0 0 5px rgba(255,255,2 55, 0.5);*/
	border-radius: 5px;
	background-color: #FF0000;
}

.kitt__light-animation {
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;	
}

.kitt__light-one {
	animation-name: first;
}

.kitt__light-two {
	animation-name: two;	
}

.kitt__light-three {
	animation-name: three;
}

.kitt__light-four {
	animation-name: four;
}

.kitt__light-five {
	animation-name: five;
}

.kitt__light-six {
	animation-name: six;
}

.kitt__light-seven {
	animation-name: seven;
}

.kitt__light-eigth {
	animation-name: eight;
}

.kitt__light-nine {
	animation-name: nine;
}

.kitt__light-ten {
	animation-name: ten;
}

@keyframes first {
	0%{
  		opacity:0.2;
  	}
  	10%{
  		opacity:1;
  	}
  	20%  {
  		opacity:0.2;
  	}
  	100% {
  		opacity:0;
  	}
}

@keyframes two {
	0%{
		opacity:0;
	}
  	10%{
  		opacity:0.2;
  	}
 	20%{
 		opacity:1;
 	}
    30%{
    	opacity:0.2;
    }
    100%{
    	opacity:0;
    }
}

@keyframes three {
	0%{
		opacity:0;
	}
    20%{
    	opacity:0.2;
    }
    30%{
    	opacity:1;
    }
    40%{
    	opacity:0.2;
    }
    100%{
    	opacity:0;
    }
}

@keyframes four {
	0%{
		opacity:0;
	}
    30%{
    	opacity:0.2;
    }
    40%{
    	opacity:1;
    }
    50%{
    	opacity:0.2;
    }
    100%{
    	opacity:0;
    }
}

@keyframes five {
	0%{
		opacity:0;
	}
    40%{
    	opacity:0.2;
    }
    50%{
    	opacity:1;
    }
    60%{
    	opacity:0.2;
    }
    100%{
    	opacity:0;
    }
}

@keyframes six {
    0%{
    	opacity:0;
    }
    50%{
    	opacity:0.2;
    }
    60%{
    	opacity:1;
    }
    70%{
    	opacity:0.2;
    }
    100%{
    	opacity:0;
    }
}

@keyframes seven {
  	0%{
  		opacity:0;
  	}
  	60%{
  		opacity:0.2;
  	}
  	70%{
  		opacity:1;
  	}
  	80%{
  		opacity:0.2;
  	}
  	100%{
  		opacity:0;
  	}
}

@keyframes eight {
  	0%{
  		opacity:0;
  	}
  	70%{
  		opacity:0.2;
  	}
  	80%{
  		opacity:1;
  	}
  	90%{
  		opacity:0.2;
  	}
  	100%{
  		opacity:0;
  	}
}

@keyframes nine {
  	0%{
  		opacity:0;
  	}
  	80%{
  		opacity:0.2;
  	}
  	90%{
  		opacity:1;
  	}
  	100%{
  		opacity:0.2;
  	}
}

@keyframes ten {
  	0%{
  		opacity:0;
  	}
  	90%{
  		opacity:0.2;
  	}
  	100%{
  		opacity:1;
  	}
}

.kitt__light-container {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px #ccc inset;
	border-radius: 10px;
}

.kitt__light-left {
	width: 33.33%;
	height: 100%;
	float: left;
}

.kitt__light-mid {
	width: 33.33%;
	height: 100%;
	float: left;
}

.kitt__light-right {
	width: 33.33%;
	height: 100%;
	float: left;
}

/*********   Kitt Middle Body Lower Section  *********/

.kitt__body-mid__LowerSection {
	margin: 1% auto;
}

.kitt__body-mid__LowerSection-Button1 {
	width: 50%;
	height: 77px;
	background-color: #FF0000; 
}

.kitt__body-mid__LowerSection-Button2 {
	width: 50%;
	height: 77px;
	background-color: #ffff00; 	
}

.kitt__body-mid__LowerSection-Button3 {
	width: 50%;
	height: 77px;
	background-color: #0000e5; 
}

.kitt-content-centering {
	padding: 1rem 0;
}











