/* CURRENTLY IN: styles/main.css */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/**** Colors
*
*	#D1625B
*	#2A94C8
*	#EEEEEE
*
****/

* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}

html {
	font-family: Arial, 'sans-serif';
	font-size: 14px;
}

/*********   Kitt Head  *********/


.kitt {
	width: 55%;
	height: 550px;
	margin: 0 auto;
	background-color: #000;
}

.kitt__head {
	width: 100%;
	height: 80px;
}

.kitt-title-border {
	border-bottom: 5px outset rgba(204,204,204,0.9);
}

.kitt__head-title-color {
	font-size: 3rem;
	color: #fff;
	text-align: center;
	padding: 1.5rem 0;
}

/*********   Kitt Body  *********/


.kitt__body {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.kitt__body-right {
	width: 20%;
	height: 100%;
	float: left;
	background-color: #191900;
}

.kitt__body-mid {
	width: 60%;
	height: 100%;
	float: left;
	background-color: yellow;
}

.kitt__body-left {
	width: 20%;
	height: 100%;
	float: left;
	background-color: #000;
}

/*********   Kitt Controls  *********/

.kitt__controls {
	padding: 2rem 0;
}

.kitt__controls-box {
	border-radius: 40%/50%;
	box-shadow: 0px 0px ;
}

.kitt__controls-border {
	border: 3px solid #000;
}

.kitt__controls-first {
	width: 70%;
	height: 65px;
	background-color: #ffff00;
	text-align: center;
	padding: 1.8rem 0;
	margin: 0 auto;
}

.kitt__controls-second {
	width: 70%;
	height: 65px;
	background-color: #ffff00;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}

.kitt__controls-third {
	width: 70%;
	height: 65px;
	background-color: red;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}	

.kitt__controls-fourth {
	width: 70%;
	height: 65px;
	background-color: red;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}

.kitt__controls-fifth {
	width: 70%;
	height: 65px;
	background-color: red;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;
}

.kitt__controls-sixth {
	width: 70%;
	height: 65px;
	background-color: red;
	text-align: center;
	padding: 1.8rem 0;
	margin: 15% auto;	
}

.kitt__controls-glowFirst {
	box-shadow: 0 0 20px #ffff00;
}

.kitt__controls-glowSecond {
	box-shadow: 0 0 20px #ffff00;
}

.kitt__controls-glowThird {
	box-shadow: 0 0 20px #FF0000;
}

.kitt__controls-glowFourth {
	box-shadow: 0 0 20px #FF0000;
}

.kitt__controls-glowFifth {
	box-shadow: 0 0 20px #FF0000;
}

.kitt__controls-glowSixth {
	box-shadow: 0 0 20px #FF0000;
}



